.items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  grid-gap: 20px 8px;
  justify-content: space-between;
}

@media only screen and (max-width: 510px) {
  .items {
    justify-content: center;
  }
}