.wrapper {
  max-width: 980px;
  width: 95%;
  margin: 20px auto;
  padding: 20px 0 5px;
  background-color: #FFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.title {
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  color: var(--secondary-color);
}

.map-wrapper {
  height: 400px;
  width: 100%;
  padding: 0 10px;
  margin: 15px auto 5px;
  position: relative;
  display: flex;
  justify-content: center;
}