:root {
  --primary-color: #da5c5c;
  --primary-hover-color: #c75858;
  --dark-color: #263238;
  --secondary-color: #9E9E9E;
  --light-color: #F5F5F5;
}

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 980px;
  width: 90%;
  margin: 0 auto;
}