.wrapper {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  max-width: 520px;
  margin-right: 10px;
}

.title {
  font-weight: bold;
  font-size: 4rem;
  line-height: 58px;
  letter-spacing: -0.015em;
  color: var(--dark-color);
  margin-bottom: 40px;
}

.subtitle {
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.button_order {
  background-color: var(--primary-color);
  border-radius: 10px;
  height: 70px;
  width: 235px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2.4rem;
  letter-spacing: -0.015em;
  transition: background-color .6s;
  color: #FFF;
  cursor: pointer;
}

.button_order:hover {
  background-color: var(--primary-hover-color);
}

.image {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 3rem;
    line-height: 40px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 550px) {
  .wrapper {
    height: auto;
    flex-direction: column-reverse;
  }

  .image_wrapper {
    margin-top: 20px;
    max-width: 300px;
  }

  .actions {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 20px;
  }

  .title {
    margin-top: 20px;
  }

  .button_order {
    font-size: 2rem;
    height: 50px;
    width: 235px;
  }
}