.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.content {
  max-width: 980px;
  width: 94%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  max-width: 520px;
  margin-right: 10px;
}

.title {
  font-weight: bold;
  font-size: 4rem;
  line-height: 58px;
  color: var(--dark-color);
  margin-bottom: 30px;
}

.subtitle {
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 33px;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.button-order {
  background-color: var(--primary-color);
  border-radius: 10px;
  height: 60px;
  width: 235px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2.4rem;
  transition: background-color .6s;
  color: #FFF;
  cursor: pointer;
}

.button-order:hover {
  background-color: var(--primary-hover-color);
}

.image {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .title {
    font-size: 3.4rem;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .subtitle {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 770px) {
  .content {
    flex-direction: column-reverse;
    margin: 20px auto;
  }

  .image-wrapper {
    max-width: 300px;
  }

  .actions {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0 15px;
  }
}

@media only screen and (max-width: 470px) {
  .title {
    font-size: 2.8rem;
  }

  .subtitle {
    font-size: 2.4rem;
  }

  .button-order {
    font-size: 2rem;
    height: 50px;
    width: 235px;
  }
}

@media only screen and (max-width: 370px) {
  .title {
    font-size: 2.4rem;
  }

  .subtitle {
    font-size: 2rem;
  }
}